<!--
title=RegExp
-->
<form id="regex">
    <label>Haystack</label>
    <textarea id="haystack"></textarea>
    
    <label>Pattern</label>
    <input id="pattern" type="text" />
    
    <label>Replacement</label>
    <input id="replace" type="text" />
    
    <label>Results</label>
    <div id="results">&nbsp;</div>
</form>
