<!--
title=RegExp
-->
<form id="regex">
    <label>Haystack</label>
    <textarea id="haystack"></textarea>
    
    <label>Pattern</label>
    <input id="pattern" type="text" />
    <fieldset>
        <input id="global" type="checkbox" /><label for="global">Global</label>
        <input id="insensitive" type="checkbox" /><label for="insensitive">Case-insensitive</label>
        <input id="multiline" type="checkbox" /><label for="multiline">Multi-line</label>
    </fieldset>
    
    <label>Results</label>
    <div id="results">&nbsp;</div>
</form>