# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
#   We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unncessary to declare
</IfModule>


Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# *** URLS ***
RewriteCond %{REQUEST_FILENAME} !-f
# old pages
RewriteRule ^contact about [last,R=301]
RewriteRule ^(about|portfolio|resume)\.php $1 [last,R=301]
# new pages
RewriteRule ^404$ - [last,R=404]
RewriteRule ^colors$ framework/theme/css/_variables.php?a=1 [last]
RewriteRule theme/css/all.css$ framework/theme/css/css.min.php [last]
RewriteRule theme/images/([^$]+) framework/theme/images/$1 [last]
RewriteRule theme/js/all.js$ framework/theme/js/all.js.min.php [last]
RewriteRule theme/js/([^&]+)$ framework/theme/js/$1 [last]
RewriteRule ^(|[\w\/]+)\/?$ framework/controllers/main.php/$1 [last]


# *** DIRECTORIES ***
RewriteCond %{REQUEST_FILENAME} -d
# all directories
RewriteRule ^ - [F,last]


# *** ERRORS ***
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
# non-existant
#RewriteRule ^ - [last,R=404]


# video
AddType video/ogg  ogg ogv
AddType video/mp4  mp4
AddType video/webm webm

# Proper svg serving. Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType image/svg+xml                 svg svgz 

# webfonts
AddType application/vnd.ms-fontobject eot
AddType font/ttf                      ttf
AddType font/otf                      otf
AddType font/x-woff                   woff

AddType text/cache-manifest           manifest


# custom 404 page
ErrorDocument 404 /framework/views/404.html



# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8
# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss


# We don't need to tell everyone we're apache.
ServerSignature Off