Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# *** URLS ***
RewriteCond %{REQUEST_FILENAME} !-f
# old pages
RewriteRule ^(.*).php$ index.php/$1
# new pages
RewriteRule ^(|about|downloads|portfolio|resume)$ index.php/$1 [L]

# *** DIRECTORIES ***
RewriteCond %{REQUEST_FILENAME} -d
# all directories
RewriteRule ^ / [L]

# *** ERRORS ***
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# non-existant
RewriteRule ^(.*)$ /index.php/error/404/$1 [L]
