<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{page} - {title}</title>
<meta name="description" content="{description}" />

<script src="{theme}/js/libs/modernizr-1.6.min.js"></script>

<link rel="stylesheet" href="{theme}/css/all.css" />
</head>

<body class="{page}">
    <p id="SkipToContent"><a href="#content">Skip to main content</a></p>

    <header role="banner">
        <a href="{domain}">{title}</a>
        <h1>{title}</h1>
        {tagline}<h2>{tagline}</h2>{/tagline}
    </header>
    
    <nav role="navigation">
        <ul>{menu}
            <li class="{link}"><a href="{url}">{link}</a></li>{/menu}
        </ul>
    </nav>
    
    <section>
        <article id="content" role="main">
            {content}
        </article>
    </section>
 	
    <footer role="contentinfo">
        <a href="http://validator.w3.org/check?uri={domain}/{page}" title="run HTML validator">HTML 5</a> :
        <a href="http://jigsaw.w3.org/css-validator/check/referer" title="run CSS validator">css 3.0</a> :
        <a href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance">W3C WAI-AAA WCAG 2.0</a>
    </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="{theme}/js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>

<script src="{theme}/js/scripts.js"></script>
<script src="{theme}/js/plugins.js"></script>
<script src="{theme}/js/script.js"></script>

<!--[if lt IE 7 ]>
<script src="{theme}/js/libs/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg'); </script>
<![endif]-->

<script>
var _gaq = [['_setAccount', 'UA-19419400-1'], ['_trackPageview']];
(function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
</body>
</html>
