<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>{page} - {title}</title>
<meta name="description" content="{description}" />
<script src="theme/js/libs/modernizr-1.6.min.js"></script>
<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
<link rel="stylesheet" href="theme/css/all.css" />
</head>

<body class="{page}">
    <p class="visuallyhidden focusable"><a href="#content" title="">Skip Navigation</a></p>

    <header class="container_12 clearfix" role="banner">
        <hgroup class="grid_6 alpha omega">
            <a href="//{domain}" title="{description}">{title}</a>
            <h1>{title}</h1>
        </hgroup>
        
        <nav role="navigation">
            <ul>{menu}
                <li class="{link}"><a href="/{url}">{link}</a></li>{/menu}
            </ul>
        </nav>
    </header>
        
    
    <section class="container_12 clearfix">
        <article id="content" role="main">
{content}
        </article>
    </section>

    <footer role="contentinfo">
        <div class="container_12 clearfix">
            <div class="grid_4">
                <h2>Contact me</h2>
                <ul>
                    <li>email/chat: <span class="email">~kalisjoshua~@~gmail.com~</span></li>
                    <li>twitter: <a href="//twitter.com/kalisjoshua" title="kalisjoshua on Twitter">@kalisjoshua</a></li>
                    <li>linkedIn: <a href="//www.linkedin.com/in/kalisjoshua" title="kalisjoshua on LinkedIn">kalisjoshua</a></li>
                </ul>
            </div>
            <div class="grid_4">
                <h2>Resume Download</h2>
                <ul>
                    <li><a href="resume" title="HTML format resume for Joshua Kalis">Resume - Kalis, Joshua.html</a></li>
                    <li><a href="documents/resume_kalisjoshua.pdf" title="PDF format resume for Joshua Kalis">Resume - Kalis, Joshua.pdf</a></li>
                    <li><a href="documents/resume_kalisjoshua.doc" title="Word Document format resume for Joshua Kalis">Resume - Kalis, Joshua.doc</a></li>
                    <li><a href="documents/resume_kalisjoshua.pages" title="Apple Pages Document format resume for Joshua Kalis">Resume - Kalis, Joshua.pages</a></li>
                    <li><a href="framework/models/resume.json" title="JSON data format resume for Joshua Kalis">Resume - Kalis, Joshua.json</a></li>
                </ul>
            </div>
            <div class="grid_4">
                <h2>Page Validations</h2>
                <ul>
                    <li><a href="//validator.w3.org/check/referer" title="HTML validator">HTML 5</a></li>
                    <li><a href="//jigsaw.w3.org/css-validator/check/referer" title="CSS validator">CSS 3.0</a></li>
                    <li><a href="//www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of Level AAA Conformance to WCAG 2.0">AAA WCAG 2.0</a></li>
                    <li><a href="//www.contentquality.com/mynewtester/cynthia.exe?Url1=http://{domain}/{page}" title="Web Content Accessibility Report">Section 508</a></li>
                </ul>
            </div>
            <a href="http://www.w3.org/html/logo/" id="html5_badges">
                <img src="http://www.w3.org/html/logo/badge/html5-badge-v-css3-semantics.png" width="38" height="138" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" />
            </a>
        </div>
        <p class="container_12">All content copyright <a href="{domain}" title="{description}">{domain}</a> &copy; {year}. All rights reserved.</p>
    </footer>

<div id="StopSOPA" style="display: none;">
    <h1>This is what the web could look like under the Stop Online Piracy Act.</h1>
    <p>Keep the web open. <a href="https://wfc2.wiredforchange.com/o/9042/p/dia/action/public/?action_KEY=8173">Contact your representatives</a> or <a href="http://sopablackout.org/learnmore">find out more</a></p>
    <p><em>(click anywhere to continue)</em></p>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="theme/js/libs/jquery.min.js"><\/script>')</script>

<script src="theme/js/all.js"></script>

<script>
var _gaq=[['_setAccount','UA-19419400-1'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
