div#Imagezoom_blind {
    background: #link;
    display: none;
    height: 100%;
    left: 0px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    }