html.js body {
    visibility: hidden;
    }
article {
    padding-top: 1em;
	}
	article article {
	    padding: 0px;
	    }
	
body {
	color: #text;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: .95em;
	line-height: 1.35em;
	margin: 0px auto;
	padding: 5px 0px 0px;
	position: relative;
	text-align: left;
	}

footer {
    background: #text;
    border-top: 4px solid #menu;
	clear: both;
	font-size: .9em;
	margin: 3em 0px 0px;
	padding: 2em 0px;
	}
	footer div {
    	position: relative;
	    }
    	footer *,
    	footer a {
    	    color: #body !important;
	        }
    	footer div a#html5_badges {
    	    margin: -10px;
    	    padding: 10px;
    	    position: absolute;
    	    right: 0px;
    	    top: 0px;
    	    }
    	footer div a#html5_badges:hover {
    	    background: #section;
    	    }

header {
	position: relative;
	z-index: 1;
	}
	header a {
		font-size: 16px;
		text-decoration: none;
		}

html {
	background: #body url("theme/images/bg_#bg_image.jpg") #attachment repeat-x 0px 30px;
	text-align: center;
	}
	
nav {
	}
	nav ul {
		list-style-type: none;
		margin: 40px 0px 0px;
		padding: 0px;
		}
		nav ul li {
			}
			nav ul li a {
				color: #section;
                display: block;
                padding: 5px 10px;
				text-decoration: none;
				}
			nav ul li a:hover,
			body.About nav ul li.about a,
			body.Downloads nav ul li.downloads a,
			body.Portfolio nav ul li.portfolio a,
			body.Projects nav ul li.projects a,
			body.Resume nav ul li.resume a {
				color: #FFFFFF;
				background: #menu;
				}
@media only screen and (min-width: 600px) {
article {
    padding-top: 70px;
    }

nav {
    text-align: right;
    }
    nav ul {
        margin: 0px;
        }
        nav ul li {
            display: inline;
            }
            nav ul li a {
                display: inline;
                margin: 0px;
                padding: 10px;
                }
    }