
.Portfolio article article {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;
    }
.no-js .Portfolio article article {
    overflow: hidden;
    }
    .js .Portfolio article article > * {
        display: none;
        }
    .Portfolio article article figure {
        border: 3px solid transparent;
        display: block !important;
        height: 140px;
        overflow: hidden;
        position: relative;
        width: 300px;
        }
    .Portfolio article article figure:hover {
        border-color: #link;
        cursor: pointer;
        top: -5px;
        }

#Whitepaper_content {
    }
    #Whitepaper_content article {
        padding: 1em 2em;
        }
        #Whitepaper_content article figure {
            }
    #Whitepaper_content h1 {
        color: #text;
        display: block;
        font-family: Palatino, serif;
        font-size: 300%;
        line-height: 150%;
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        }
    #Whitepaper_content h3 {
        border-bottom: 1px solid;
        font-size: 1.3em;
        margin-bottom: 1.0em;
        }
        #Whitepaper_content h3 a {
            color: #text;
            text-decoration: none;
            }
        #Whitepaper_content h3 img {
            display: none;
            }
    #Whitepaper_content img.image_left {
        float: left;
        margin-right: 1em;
        }
    #Whitepaper_content img.image_right {
        float: right;
        margin-left: 1em;
        }
    #Whitepaper_content p {
        }
        