<!--
title=About
description=joshua t. kalis introduction and general info
## TODO
flickr & twitter feeds
## TOPCIS
web standards
accessible applications
useable design
browser features (Safari's "reader")
-->

<div class="grid_8">
    <h2>Work</h2>
    <p>I am an application developer specializing in User Interface (UI) and User Experience (UX), generically I am a front-end web developer; I strive to make things look good and work well, for all users. I enjoy merging my skills as a graphic designer with my ability to program interactivity.</p>
    <p>Recently I have started to branch out of the web realm, and into more classic application development, primarily for the iPad.</p>
    
    <h2>Passion</h2>
    <p>I love learning new things! Mostly that means that I like to read about and experiment with new technologies and programming languages. Some of the languages I am most interested in right now are: JavaScript, Objective-C, OCaml, Python, Ruby, and Scheme.</p>
    <p>I am particularly fond of creating small libraries of functionality that are simple to use and make tedious tasks easier.</p>
        
    <h2>Philosophy</h2>
    <p>I am a minimalist at heart. When designing, graphically or technically, I always try to focus on the core of a task. I like the Unix philosophy of "Do one thing, and do it well." Doing one thing is the easy part, doing that one thing well is where the struggle begins.</p>
</div>

<div class="grid_4">
    <h2>Reading</h2>
    <figure class="book">
        <a href="http://pragprog.com/titles/tibmac/beginning-mac-programming" title="link to product page on Pragmatic Bookshelf"><img class="cover" src="images/Beginning_Mac_Programming.jpg" title="Book cover: Beginning Mac Programming" />
            <br />
            The Pragmatic Bookshelf</a>
        <h1>Beginning Mac Programming</h1>
        <h2>Develop with Objective-C and Cocoa</h2>
    </figure>
    
    <h2>Photography</h2>    
    <figure class="photos">
        <img src="http://joshuakalis.smugmug.com/Landscapes/Moores-Park/IMG1576/1160046560_p5jxX-M.jpg"
            title="SmugMug photo gallery (http://joshuakalis.smugmug.com)"/>
    </figure>
    <p>I've been getting into photography since I bought my first dSLR and here are some photos I have taken recently.</p>
    
</div>