<!--
title=About
description=joshua t. kalis introduction and general info
## inspiration
http://designmovesme.com/portfolio/
http://thingsthatarebrown.com/about/
http://www.johnstonnorth.com/about
http://www.spoongraphics.co.uk/
-->

<div class="grid_8">
    <h2>Who are you?</h2>
    <p>I am a problem solver; if I don't know an answer I can find one. I believe that I can do anything I put my mind to - except Adobe Flash development, I gave up on that task a long time ago and believe I am better for it. I enjoy what I do, which is probably why I often do UIX for fun.</p>
    
    <h2>What do you do?</h2>
    <p>I create! I enjoy creating usable "things". Professionally I am an application developer specializing in User Interface design with a strong background in accessibility and usability. In the past and sometimes as a hobby I like to create and fix things; take stuff apart and put it back together again so that it is better than it was before.</p>

    <p>The one common theme through all of my working career is that I enjoy creating.</p>
    
    <h2>Why UI?</h2>
    <p>I enjoy interaction. I was a communications major at university. The user interface is exactly where the the user, of a system, interacts (interfaces) with the application. I believe there is elegance in how we represent data and information, and how those are input.</p>
    
    <h2>Anything else?</h2>
    <p>Recently I have taken up <a href="//joshuakalis.smugmug.com" title="Joshua Kalis' Smugmug photo galery">photography</a> and photo editing. Art (painting and drawing) has always been a passion of mine. I am a sucker for good stories (movies, TV shows, books, theatre, etc.). I also enjoy traveling, building, music, and more.</p>
    
    <h2>How did you start?</h2>
    <p>I grew up with art in my family. My mom was a graphic artist for GM and my uncle - on my dad's side - was a painter, sculpter, advertising designer. Creativity was just something I was born into. Throughout school I was always particularly interested in drawing, sculpting, printing, pottery, and pretty much anything else related to art. I used to watch my mom create trade show graphics or my uncle draw custom advertisements or still life paintings.</p>
    <p>As I got older my mom put me into graphic design classes in Photoshop, Illustrator, Pagemaker, Freehand, and Quark XPress. The classes at the time were fun but didn't serve much use to me other than something to play with. When I finally went to university I found a student job posting for a graphic designer with the <a href="//ibc.msu.edu" title="">International Business Center</a> in the <a href="//broad.msu.edu" title="">Broad College of Business</a> at <a href="//msu.edu" title="">Michigan State University</a>. Getting that job was has helped me into the career I now have and love.</p>
    <p>I may have started as a student graphic designer but I worked my way into being a crucial part of the web development group that worked on the number 1 international business resource on the web (<a href="//globalEDGE.msu.edu" title="Your source for global business knowledge">http://globalEDGE.msu.edu</a>). Working on the projects there was a great place to learn in a lot of different areas; HTML/CSS for the front end, ASP classic for all the server-side coding, SQL Server for all the data storage, as well as a smattering of XML/XSL(T), and eventually a healthy serving of JavaScript before the huge surge of libraries such as Prototype, jQuery, MooTools, et al. to make those things easier.</p>
    <p>After the <abbr title="International Business Center">IBC</abbr> I moved onto a larger group at <abbr title="Michigan State University">MSU</abbr> <a href="//ais.msu.edu" title="">Administrative Information Services</a> where I was part of a team charged with the task of rewriting many of the internal applications. It was with this group that I discovered my desire to be a <abbr title="User Interface">UI</abbr> developer.</p>
    
</div>

<div class="grid_4">

    <h2>Reading</h2>
    <figure class="book">
        <a href="//shop.oreilly.com/product/9780596520137.do" title="link to product page for The Version Control with Git">
            <img class="cover" src="//akamaicovers.oreilly.com/images/9780596520137/cat.gif" title="Book cover: Version Control with Git" /></a>
        <h2>Version Control with Git</h2>
    </figure>

    <figure class="book">
        <a href="//www.manning.com/resig/" title="link to product page for The Secrets of the JavaScript Ninja">
            <img class="cover" src="//www.addison-wesley.de/media_local/shop_u1bigs/9781933988696.jpg" title="Book cover: Secrets of the JavaScript Ninja" width="180" /></a>
        <h2>Version Control with Git</h2>
    </figure>
    
    <h2>Photography</h2>    
    <figure class="slideshow">
        Images from my SmugMug photo gallery http://joshuakalis.smugmug.com
        <img src="" alt="Images from SmugMug photo gallery http://joshuakalis.smugmug.com"
                  title="Images from SmugMug photo gallery http://joshuakalis.smugmug.com"/>
    </figure>
    <p><a href="//joshuakalis.smugmug.com/Other/Most-Recent/17358575_LsND6C" title="Joshua Kalis' Smugmug photo galery">My most recent photos</a>.</p>
</div>
