<!--
title=About
description=joshua t. kalis introduction and general info
## inspiration
http://designmovesme.com/portfolio/
http://thingsthatarebrown.com/about/
http://www.johnstonnorth.com/about
http://www.spoongraphics.co.uk/
-->

<div class="grid_8">
    <h2>Who are you?</h2>
    <p>Hello, my name is Joshua Kalis. I'm a lover not a fighter. I am trustworthy, optimistic, hardworking, diligent, down-to-earth, and precise. I am never satisfied that good enough is finished. I love to learn and teach. New is not always better but how will you ever know if you don't find out? I am a minimalist at heart. I strive to adhere to the philosophy of "Do one thing, and do it well." Doing one thing is the easy part, <em>doing that one thing well is where the struggle begins</em>.</p>
    
    <h2>What do you do?</h2>
    <p>To answer the question, yeah... I can do that! I create useful things. I am an application developer specializing in User Interface design with a strong background in accessibility and usability. I strive to make things look good and work well. I enjoy working with people who enjoy what they do and can have fun doing it.</p>
    
    <h2>Why UI?</h2>
    <p>I enjoy interaction. I was a communications major at university. The user interface is exactly where the the user of a system interacts (interfaces) with the application. I believe there is elegance in how we represent data and information, and how those are input.</p>
    
    <h2>Anything else?</h2>
    <p>Recently I have taken up <a href="//joshuakalis.smugmug.com" title="Joshua Kalis' Smugmug photo galery">photography</a> and photo editing. Art (painting and drawing) has always been a passion of mine, I am a sucker for good stories (movies, TV shows, books, theatre, anything else?), traveling, building, music, and the list goes on.</p>
    
    <h2>How did you start?</h2>
    <p>I grew up with art in my blood. My mom was a graphic artist for GM and my uncle was a painter. Creativity was just something I was born into. Throughout school I was always particularly interested in drawing, sculpting, printing, pottery, and pretty much anything else related to art. I used to watch my mom create trade show graphics or my uncle draw custom advertisements or still life paintings.</p>
    <p>As I got older my mom put me into graphic design classes in Photoshop, Illustrator, Pagemaker, Freehand, and Quark XPress. The classes at the time were fun but didn't serve much use to me other than something to play with. When I finally went to university I found a student position job posting for a graphic designer with the <a href="//ibc.msu.edu" title="">International Business Center</a> in the <a href="//broad.msu.edu" title="">Broad College of Business</a> at <a href="//msu.edu" title="">Michigan State University</a>. Getting that job was has helped me into the career I now have and love.</p>
    <p>I may have started as a student graphic designer but I worked my way into being a crucial part of the web development group that worked on the number 1 international business resource on the web (<a href="//globalEDGE.msu.edu" title="Your source for global business knowledge">http://globalEDGE.msu.edu</a>). Working on the projects there was a great place to learn in a lot of different areas; HTML/CSS for the front end, ASP classic for all the server-side coding, SQL Server for all the data storage, as well as a smattering of XML/XSL(T), and eventually a healthy serving of JavaScript before the huge surge of libraries such as Prototype, jQuery, MooTools, et al. to make those things easier.</p>
    <p>After the <abbr title="International Business Center">IBC</abbr> I moved onto a larger group at <abbr title="Michigan State University">MSU</abbr> <a href="//ais.msu.edu" title="">Administrative Information Services</a> (no I never got to work on their website) where I was part of a team charged with the task of rewriting many of the internal applications in Java. It was with this group that I discovered my desire to be a <abbr title="User Interface">UI</abbr> developer.</p>
    
    
    <!--the one common theme through all of my working career is that I enjoy creating.-->
    
</div>

<div class="grid_4">
    <h2>Reading</h2>
    <figure class="book">
        <a href="//pragprog.com/titles/tibmac/beginning-mac-programming" title="link to product page on Pragmatic Bookshelf">
            <img class="cover" src="images/Beginning_Mac_Programming.jpg" title="Book cover: Beginning Mac Programming" />
            <br />
            The Pragmatic Bookshelf</a>
        <h1>Beginning Mac Programming</h1>
        <h2>Develop with Objective-C and Cocoa</h2>
    </figure>
    
    <h2>Photography</h2>    
    <figure class="slideshow">
        Images from SmugMug photo gallery http://joshuakalis.smugmug.com
        <img src="" alt="Images from SmugMug photo gallery http://joshuakalis.smugmug.com"
                  title="Images from SmugMug photo gallery http://joshuakalis.smugmug.com"/>
    </figure>
    <p>I've been getting into photography since I bought my first dSLR. Here are <a href="//joshuakalis.smugmug.com" title="Joshua Kalis' Smugmug photo galery">my most recent photos</a>.</p>
    
</div>
