<!--
title=Portfolio
description=
<p>My portfolio will focus mostly on graphic design that I have done and some user interface design that is public-facing, because a lot of the work that I have done in the past is behind login screens due to membership and sensitive data issues.</p>
-->

<h2>Web</h2>
{web}
<article class="grid_4 whitepaper">
    <h3><a href="{url}" title="">{project}</a></h3>
    {big_image}<div style="text-align: center;"><a href="{url}" title="link to homepage"><img src="{big_image}" /></a></div>{/big_image}
    <figure>
        <img alt="preview of website - {project}" src="{preview}" title="preview of website - {project}" />
    </figure>
    {content}
    {image}<img class="image_{position}" src="{image}" />{/image}
    <p>{p}</p>{/content}
</article>
{/web}

<h2>Print</h2>
{graphics}
<article class="grid_4 whitepaper">
    <h3><a href="{url}" title="">{project}</a></h3>
    {big_image}<div style="text-align: center;"><a href="{url}" title="link to homepage"><img src="{big_image}" /></a></div>{/big_image}
    <figure>
        <img alt="preview of publication - {project}" src="{preview}" title="preview of publication - {project}" />
    </figure>
    {content}
    {image}<img class="image_{position}" src="{image}" />{/image}
    <p>{p}</p>{/content}
    <ul>
        {documents}
        <li><a href="{#}">{#}</a></li>{/documents}
    </ul>
</article>
{/graphics}
