<!--
title=Portfolio
description=
-->
<!--
<p>My portfolio will focus mostly on graphic design that I have done and some user interface design that is public-facing, because a lot of the work that I have done in the past is behind login screens due to membership and sensitive data issues.</p>
-->


<h2>Libraries</h2>

<div class="resElement Libraries">
    <h3>LiveList</h3>
    <figure>
        <img alt="partial image of code-file" src="/images/portfolio/LiveList.js.jpg" />
        <ul>
            <li><a href="/demos/LiveList/index.htm" title="LiveList">Demo</a></li>
        </ul>
    </figure>
    <p>This little library of functionality is something I developed for a very specific project (only two users ever) where the users wanted a dynamic data-table for data entry and editing. I worked very closely with the customer during this project and they were very happy with the way this worked. I tried to make this as good as I was allowed to within the time I was given.</p>
    <p>One of the caveats of the project was that we were to completely develop everything on our own; no external dependancies (i.e. libraries such as: jQuery, YUI, etc.) which already had widgets that would have filled the bill much faster and more reliably than I could have. But I stand by my work as a part of my past.</p>
</div>

<h2>Development</h2>

<div class="resElement Development">
    <h3><a href="http://aib.msu.edu" title="AIB - home page">Academy of International Business</a></h3>
    <figure>
    	<img alt="screenshot of AIB home page" src="/images/portfolio/AIB_01.png" />
    	<ul>
    	    <li><a class="Portfolio" href="/images/portfolio/AIB_01.png" title="full size screenshot">view cached image <span> of AIB home page</span></a></li>
    	</ul>
    </figure>
    <p>The Academy of International Business was the very first website I ever designed, and oddly enough, my first draft of the design was accepted. As the project matured, and more requirements were realized, more artistic elements were added but my original design remained intact.</p>
    <p>My personal design sense has changed quite a lot since I created that design sometime in the years 2003-2004; but I think that the design has held up considerably well given my complete lack of web-technology knowledge at the time.</p>
    <p>I tried to create a visually appealing interface that would not be overly complicated due to its depth of content. I wanted the user interface pieces to blend with the elements around them so that over time the users would begin to recognize the site, as a whole, even from far away or at a glance.</p>
    <p>I have kept a screenshot of the <a class="Portfolio" href="/images/portfolio/AIB_logos.png" title="screenshot of AIB logos page"><span>AIB </span>logos page</a> I created as documentation for proper branding if the <a href="http://aib.msu.edu/logos.asp" title="AIB logos official use documentation">original page</a> ever goes offline.</p>
</div>

<div class="resElement Development">
    <h3><a href="http://globalEDGE.msu.edu" title="globalEDGE - home page">globalEDGE.msu.edu</a></h3>
    <figure>
    	<img alt="screenshot of globalEDGE home page" src="/images/portfolio/globalEDGE_01.png" />
    	<ul>
    	    <li><a class="Portfolio" href="/images/portfolio/globalEDGE_01.png" title="full size screenshot">view cached image <span> of globalEDGE home page</span></a></li>
    	</ul>
    </figure>
    <p>Working on globalEDGE turned into the primary focus of my career while working for the International Business Center. The website was a huge project with students working on adding content daily through a home-grown CMS. After years of development changing the look and feel of the site became required; with the change of the look came the opportunity to redefine the data storage as well.</p>
    <p>The old database was set up fairly flat and only partially relationally; with the new structure we wanted to create more flexibility in how data would relate to other data we kept. Moving from the old structure to the new, reduced the number of tables on the server from 300 to 70 (these numbers are approximations only but reflect the size and scope) while creating far more options for future augmentation of how the data would be used.</p>
    <p>I have kept a screenshot of the <a class="Portfolio" href="/images/portfolio/globalEDGE_logos.png" title="screenshot of globalEGDE logos page"><span>globalEDGE </span>logos page</a> I created as documentation for proper branding if the <a href="http://globalEDGE.msu.edu/logos.asp" title="globalEDGE logos official use documentation">original page</a> ever goes offline.</p>
</div>


<h2>Design</h2>

<div class="resElement Design">
    <h3><a href="http://globalEDGE.msu.edu" title="globalEDGE - home page">globalEDGE.msu.edu</a></h3>
    <figure>
    	<img alt="" src="/images/portfolio/globalEDGE_ad.png" />
        <ul>
        	<li><a class="pdf" href="/images/portfolio/globalEDGE_ad.pdf" title="PDF link to advertisement"><span>globalEDGE.msu.edu</span> website ad</a></li>
        	<li><a class="pdf" href="/images/portfolio/globalEDGE_diagnostic_tools_ad.pdf" title="PDF link to advertisement">Diagnostic Tools ad</a></li>
        	<li><a class="pdf" href="/images/portfolio/globalEDGE_academy_ad.pdf" title="PDF link to advertisement">Academy section <span>of the globalEDGE.msu.edu website</span> ad</a></li>
        </ul>
    </figure>
    <p>Frequently globalEDGE would run advertisements in various publication they were affiliated with. Publication size was generally a full page due to the close relationship with the organizations involved; however, sometimes half and quarter page ads were used but they were simply pared down versions of the original.</p>
    <p>The advertisements went through some evolution during my time as graphic designer at the International Business Center but here are some examples of what they looked like when I was still there.</p>
</div>

<div class="resElement Design">
    <h3><a href="http://aib.msu.edu" title="AIB - home page">Academy of International Business</a></h3>
    <figure>
    	<img alt="screenshot of AIB home page" src="/images/portfolio/AIB_BackgroundBoard_small.png" />
    	<ul>
    	    <li><a class="pdf" href="/images/portfolio/AIB_BackgroundBoard_small.pdf" title="full-size PDF">view PDF<span> of AIB 2006 Annual Conference Banner</span></a></li>
    	</ul>
    </figure>
    <p>For the 2006 AIB annual conference in China the host institution had an enormous stage where a large banner would fit nicely and provide a highly visible location to display logos for the various conference sponsors. This was a lot of fun because of its magnitude; if I remember correctly the width of the finished banner was 40 feet across.</p>
</div>

<div class="resElement Design">
    <h3><a href="http://ciber.msu.edu" title="CIBER - home page">Center for International Business Education and Research (CIBER)</a></h3>
    <figure>
    	<img alt="thumbnail of CIBER grant proposal cover" src="/images/portfolio/CIBER_GrantCover.png" />
    	<ul>
    	    <li><a class="pdf" href="/images/portfolio/CIBER_GrantCover.pdf" title="full-size PDF">view PDF<span> PDF of BIE grant proposal cover</span></a></li>
    	</ul>
    </figure>
    <p>The Center for International Business Education and Research at Michigan State University is one of 30+ government funded research centers around the nation. Every 2 years they must submit a proposal for funds to the U.S. government for the Business and International Education (BIE) grant.</p>
    <p>I was charged with making the end result pretty; I did not write the proposal. I designed the cover for the proposal which you can see here and worked as art director on the project. I edited formatting in the document and kept the content flowing between sections consistent and aesthetically pleasing. There were some charts, graphs, and diagrams that I added a little style to.</p>
    <p>I'm sure that the proposal would have been accepted and approved even without my contributions but I was happy to participate and contribute to the successful grant proposal anyway.</p>
</div>

<div class="resElement Design">
    <h3><a href="http://ibc.msu.edu" title="CIBER - home page">International Business Center (IBC)</a></h3>
    <figure>
    	<img alt="thumbnail of Study Abroad brochure" src="/images/portfolio/CIBER_IB_Specialization.png" />
        <ul>
        	<li><a class="pdf" href="/images/portfolio/CIBER_StudyAbroad.pdf" title="full-size PDF">Study Abroad <span>brochure</span></a></li>
        	<li><a class="pdf" href="/images/portfolio/CIBER_IB_Specialization.pdf" title="full-size PDF"><abbr title="International Business Specialization">IB Specialization</abbr> <span>brochure</span></a></li>
        </ul>
    </figure>
    <p>Designing brochures was a fun departure from websites, so when a new brochure was needed or it was time to edit previous years' I enjoyed the alternate work. I loved searching through photos from students' trips to put in the brochure each year. I also challenged myself each year to make the incorporation of the photos on the cover and back different than those of the years before; had I stayed working there longer I might have run into a problem with overcoming that challenge.</p>
</div>

<div class="resElement Design">
    <h3><a href="http://aib.msu.edu" title="AIB - home page">Academy of International Business</a></h3>
    <figure>
    	<img alt="screenshot of AIB home page" src="/images/portfolio/AIB_Branding.png" />
        <ul>
        	<li><a class="pdf" href="/images/portfolio/AIB_cd_envelope.pdf" title="AIB conference procedings cd case"><span>AIB conference</span> CD case design</a></li>
        	<li><a class="pdf" href="/images/portfolio/AIB_cd_label.pdf" title="AIB conference procedings cd label"><span>AIB conference</span> CD label design</a></li>
        	<li><a class="pdf" href="/images/portfolio/AIB_mail_pack.pdf" title="AIB mailing envelopes"><span>AIB Secretariat</span> branded evelopes</a></li>
        </ul>
    </figure>
    <p>The supervisors and administrators of AIB had a firm commitment to the branding of AIB; continually enforcing, perpetuating, and protecting the brand for the integrity of the organization. I drew up a simple graphic to go along with the logo on many different deliverables over the years; here are a few examples of that work in use.</p>
</div>
