<!--
title=Projects
description=
-->

<h2>Projects</h2>
<p>These are the libraries I am currently working.</p>

<div class="container_12 projects">
    <div class="grid_6 alpha">
        {javascript}
        <figure>
            <img alt="partial image of code-file" src="{image}" />
        </figure>
        <h3>{title}</h3>
        <p>{description}</p>
        {/javascript}
    </div>
    
    <div class="grid_6 omega">
        {other}
        <figure>
            <img alt="partial image of code-file" src="{image}" />
        </figure>
        <h3>{title}</h3>
        <p>{description}</p>
        {/other}
    </div>
</div>