<!--
title=Projects
description=
-->

<h2>Libraries</h2>

<div class="resElement Libraries">
    <h3>JavaScript Session Extender</h3>
    <figure class="thmb">
        <img alt="partial image of code-file" src="/images/portfolio/code_Session.js.jpg" />
        <ul>
            <li><a href="http://code.google.com/p/js-session-extender/" title="JavaScript Session Extender on Google Code">Project home</a></li>
            <li><a href="/demos/jsx/test.html" title="JavaScript Session Extender">Demo</a></li>
        </ul>
    </figure>
    <p>This JavaScript library is for simple notifications to the user about server sessions and timeout period. A friend and I were both part of a team that was focusing on accessibility and we developed this little library to easily notify users when their sessions were about to expire on the server and offer a chance to refresh that session easily and quietly. The refresh used a simple AJAX call to the server so the user didn't need to navigate away from a page.</p>
</div>

<div class="resElement Libraries">
    <h3>Lotus Templates</h3>
    <figure class="thmb">
        <img alt="partial image of code-file" src="/images/portfolio/code_Lotus.js.jpg" />
        <ul>
            <li><a href="http://code.google.com/p/lotustemplate/" title="Lotus Templates on Google Code">Project home</a></li>
            <li><a href="/demos/Lotus/example.htm" title="Lotus Templates">Demo</a></li>
        </ul>
    </figure>
    <p>Lotus is a preliminary name I have given to a template engine I am working on JavaScript. My goal is to create a language-agnostic template text file for display of JavaScript objects without putting actual code in the template file itself.</p>
</div>