<!--
title=Projects
description=
-->



<div class="alpha grid_8">
    <h2>Projects</h2>
    <p>Here are some things (Projects, Libraries, Plugins, etc.) that I am currently working.</p>
    {current}
    <div class="grid_4 alpha">
        <h3>{title}</h3>
        <p>{description}{project} <a href="{project}">more...</a>{/project}</p>
    </div>
    {/current}
    
    <h2>Other</h2>
    <p>These are some older things I have done in the past which aren't currently my primary focus.</p>
    {past}
    <div class="grid_4 alpha">
        <h4>{title}</h4>
        <p>{description}{project} <a href="{project}">more...</a>{/project}</p>
    </div>
    {/past}
</div>

<div class="grid_4 omega">
    <h2>Learning</h2>
    <p>I love learning new things! Some of the topics I am most interested in right now are:</p>
    
    <h3>CouchDB</h3>
    <p>An ad-hoc/schema-free document database server with a RESTful JSON API using JavaScript as a query language.</p>
    
    <h3>HTML5</h3>
    <p>This new revision of the language of the web with new features such as: more-semantic markup tags for better page structure, video/audio elements to reduce the reliance on Flash and Silverlight for media, canvas/SVG for interactive graphics, Geo-location APIs, and a lot lot more; these new features are helping to push the web further and make it more than it has been in the past, and making it easier to do so.</p>

    <h3>JavaScript</h3>
    <p>The interactive layer of the internets enables us to do more on the web and collaborate with people in different ways. JavaScript is becoming more mature with the explosion of various libraries that simplify and streamline what used to be arduous tasks.</p>

    <h3>Objective-C</h3>
    <p>Touch devices (iPhones, iPads, Androids, and others) have changed the ways people conduct their daily lives through small applications running on mobile devices instead of bulky computers. I want to be a part of the growing community of mobile application developers and participate in the revolution of data exchange.</p>
</div>

