<!--
title=Resume
description=
-->
<h2>Skills</h2>

<div class="resElement Skills">
	<h3>1994 - Present</h3>
	<h4>Technical Proficiency</h4>
	<ul>
		<li>Certifications: MCTS Web ASP.NET 2.0 C#</li>
		<li>Development: ASP, C#, CSS, HTML, Java, JavaScript, PHP, T-SQL, XHTML, XML, XSL</li>
		<li>Software: Adobe Illustrator, InDesign, Photoshop; Eclipse &amp; JBoss Developer Studio; Microsoft Office Suite, Query Analyzer, SQL Server 2000/2005, SQL Server Management Studio, Visual Studio 2005; MySQL; NetBeans</li>
		<li>Version Control: CVSNT, Git, Mercurial, Subversion</li>
	</ul>
</div>

<h2>Experience</h2>

<div class="resElement Experience">
	<h3>2010 - Present</h3>
	<h4>Senior UI Engineer</h4>
	<h5>Centurion Medical Products</h5>
	<ul>
		<li>Environment: ASP.NET C#, CSS, Git, HTML5, JavaScript, SQL Server 2010, Team Foundation Server 2010</li>
		<li>Designed new overall look and feel for all internal web-applications</li>
	</ul>
</div>

<div class="resElement Experience">
	<h3>2002 - Present</h3>
	<h4>Web Developer &amp; COO</h4>
	<h5>Image Science Incorporated</h5>
	<ul>
		<li>Environment: CSS, Git, HTML 5, JavaScript , Mercurial, MySQL, PHP, Subversion</li>
		<li>Founded and maintained company as creative outlet and learning experience</li>
		<li>Designed web sites, logos, and print media in Adobe: Photoshop, Illustrator, InDesign</li>
		<li>Published open source JavaScript library that enhances accessibility of session time-outs</li>
	</ul>
</div>

<div class="resElement Experience">
	<h3>2008 - 2010</h3>
	<h4>Information Technologist</h4>
	<h5>Michigan State University Academic Information Systems</h5>
	<ul>
		<li>Environment: Java, SQL Server 2005, HTML 4.01, HTML 5, CSS, JavaScript, ASP, CVSNT</li>
		<li>Supervised user experience design for Java development</li>
		<li>Adopted Agile development methodologies</li>
		<li>Developed dynamic data entry user interface with JavaScript</li>
		<li>Coauthor of browser stack standards and guidelines</li>
		<li>Designer of web application templates using Adobe Photoshop and HTML/CSS</li>
		<li>Delivered Java web interface to SQL Server financial database system</li>
		<li>Wrote data migration scripts as stored procedures and DTS packages</li>
	</ul>
</div>


<h2>Education</h2>

<div class="resElement Education">
	<h3>2006</h3>
	<h4>BA Telecommunication, Information Studies, and Media</h4>
	<h5>Michigan State University</h5>
	<ul>
		<li>Study Abroad - Post-modern Studies: Belgium, France, Germany, Italy, The Netherlands</li>
		<li>Extracurricular involvement: Broad International Business Forum, Center for Research &amp; Professional Development, Global Business Club, Student Greenhouse Project</li>
	</ul>
</div>

<h2>History</h2>

<div class="resElement History">
	<h3>2003 - 2008</h3>
	<h4>Information Technologist</h4>
	<h5>Michigan State University International Business Center</h5>
	<ul>
		<li>Environment: AJAX, ASP, CSS, JavaScript, SQL Server 2005, XHTML, XML, XSLT</li>
	</ul>
	<div class="level2">
		<h6>Academy of International Business (<a href="http://aib.msu.edu">http://aib.msu.edu</a>)</h6>
		<ul>
			<li>Built event scheduling application for annual conference using ASP and SQL Server</li>
			<li>Developed book review system, implemented in ASP, XML, XSLT, and PDF</li>
			<li>Designed collateral, following U.S. Postal guidelines, using Adobe Illustrator</li>
			<li>Revamped advertisement campaign created with Adobe Photoshop and Illustrator</li>
		</ul>
		<h6>globalEDGE.msu.edu (<a href="http://globaledge.msu.edu">http://globaledge.msu.edu</a>)</h6>
		<ul>
			<li>Redesigned entire web site look and feel in Adobe Photoshop</li>
			<li>Normalized multiple public databases into a single SQL Server data warehouse</li>
			<li>Relaunched web site using more flexible non-destructive relational database model</li>
			<li>Wrote JavaScript form validation library using Regular expression pattern matching</li>
			<li>Implemented home-grown content management system written in ASP</li>
			<li>Created projects management system using SQL Server with an ASP front end</li>
		</ul>
	</div>
</div>

<div class="resElement History">
	<h3>Apr 2001 - Aug 2005</h3>
	<h4>Landscape Designer/Owner</h4>
	<h5>Aquamen Landscaping, White Lake, MI</h5>
	<ul>
		<li>Designed and installed landscapes and built structures</li>
		<li>Collected accounts payable and purchased requisite supplies</li>
	</ul>
</div>

<div class="resElement History">
	<h3>Feb 2003 - Sep 2004</h3>
	<h4>Landscaping Coordinator</h4>
	<h5>Meridian Lawn Care &amp; Snow Removal, Meridian Twp, MI</h5>
	<ul>
		<li>Collaborative design with customers</li>
		<li>Purchased materials for landscapes in excess of $50,000</li>
	</ul>
</div>

<div class="resElement History">
	<h3>2002 - Apr 2003</h3>
	<h4>Prep-Cook</h4>
	<h5>Case Residence Hall Cafeteria Michigan State University, East Lansing, MI</h5>
	<ul>
		<li>Prepared and served food - 2000 meals per day</li>
		<li>Mentored 3 students per semester in proper food prep</li>
	</ul>
</div>

<div class="resElement History ">
	<h3>June 1999 - Jan 2002</h3>
	<h4>Machinist</h4>
	<h5>Cobra Enterprises, Madison Heights, MI</h5>
	<ul>
		<li>Streamlined production of multi-million dollar prototype manufacturing jobs</li>
		<li>Modified machining techniques to reduce down time</li>
		<li>Verified quality control specifications</li>
	</ul>
</div>

<div class="resElement History">
	<h3>Sep 1996 - Apr 1999</h3>
	<h4>Store Manager</h4>
	<h5>Video Giant, Sterling Heights, MI</h5>
	<ul>
		<li>Regulated inventory and reduced theft in 7 stores</li>
		<li>Employee relations including: scheduling, hiring, and firing</li>
		<li>Trained 40 employees each year</li>
	</ul>
</div>

<div class="resElement History">
	<h3>May 1996 - Aug 1996</h3>
	<h4>Carpenter</h4>
	<h5>Wheeler &amp; Sons Construction, Independence Twp, MI</h5>
	<ul>
		<li>Basic structural framing in residential housing</li>
		<li>Manual labor organizing building materials</li>
	</ul>
</div>

<div class="resElement History">
	<h3>Sep 1994 - May 1996</h3>
	<h4>Swing Cook</h4>
	<h5>Sweetwater’s Bistro, Keego Harbor, MI</h5>
	<ul>
		<li>Mediated service of an average of 900 meals per night</li>
		<li>Adapted to work in high demand environments</li>
	</ul>
</div>

