<!--
title=Resume
description=
-->
{resume}

<h2>{section}</h2>

{entries}
<div class="resElement">
	<h3>{date}</h3>
	<h4>{title}</h4>
	<h5>{company}</h5>
	<ul>{items}
	    <li>{#}</li>{/items}
	</ul>
	{projects}
	<div class="level2">
    	<h6>{title}</h6>
	    <ul>{items}
	        <li>{#}</li>{/items}
	    </ul>
	</div>
	{/projects}
</div>
{/entries}

{?resume}
... no resume found ...
{/resume}